<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="0.0" />

  <arg name="box_name" value="ar_box" />
  <arg name="file"     value="$(find open_manipulator_training)/urdf/box_sdf/model.sdf"/>

  <node pkg="gazebo_ros" type="spawn_model" name="$(arg box_name)_sdf_spawner"
        args="-x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)
              -sdf -file $(arg file) -model $(arg box_name)"
        respawn="false" output="screen">
  </node>
</launch>